*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(9,1,142);
  background: linear-gradient(90deg, rgba(9,1,142,1) 0%, rgba(24,24,219,1) 21%, rgba(0,212,255,1) 100%);;
}

#titulo{
  font-size: 3rem;
  color: white;
}
#descripcion{
  color: white;
}
#imagen{
  width: 200px;
}

